.buy
    &__wrapper
        display: flex
    .places
        display: flex
        flex-direction: column
        gap: 50px
    .place
        cursor: pointer
    .place__name
        font-family: $graffiti
        font-size: 30px
        line-height: 35px
    .place__adress
        font-size: 25px
        line-height: 30px